<footer class="footer border border_top">
    <div class="footer__container ">
        <div class="box" data-aos="fade-in">
            <a class="footer__logo-link link" href="#">
                SARA FOX
                <span>ASTROLOGER</span>
            </a>
        </div>
        <div class="box" data-aos="fade-in">
            {% include './menu-footer.twig' %}
        </div>
        <div class="box  " data-aos="fade-in">
            {% include './menu-social.twig' with {horizontal:"menu-social__horizontal"} %}
        </div>
    </div>
</footer>
