<section class="promo ">
    <h1 class="title heading heading_level-1 border border_bottom" data-aos="zoom-in"
        data-aos-delay="300"
        data-aos-easing="ease-in-sine">ASTROLOGER</h1>
    <div class="promo__container" data-aos="zoom-in"
         data-aos-delay="300"
         data-aos-easing="ease-in-sine">
        <p class="promo__text text">They shake us out of our feelings of complacency so that we can move from one level of maturity to another, to a higher plane, and they work very rapidly</p>
        {% include "../components/link-button.twig" with {'text': 'More About','link': '#','className': ''} %}
    </div>
</section>
