<div class="slider" data-aos="zoom-in">
    <img src="./images/slider/star-xl.svg" alt="Большая Звезда" class="slider__image-star slider__image-star_xl slider__image-star_xl-left"/>
    <img src="./images/slider/star-lg.svg" alt="Большая Звезда" class="slider__image-star slider__image-star_lg slider__image-star_lg-left"/>
    <img src="./images/slider/star-md.svg" alt="Средняя Звезда" class="slider__image-star slider__image-star_md slider__image-star_md-left"/>
    <img src="./images/slider/star-sm.svg" alt="Маленькая Звезда" class="slider__image-star slider__image-star_sm slider__image-star_sm-left"/>
    <img src="./images/slider/star-xs.svg" alt="Маленькая Звезда" class="slider__image-star slider__image-star_xs slider__image-star_xs-left"/>
    <img src="./images/slider/sun.svg" alt="Солнце" class="slider__image-sun"/>
    <img src="./images/slider/hand-left.svg" alt="Левая Рука" class="slider__image-hand slider__image-hand_left"/>
    <img src="./images/slider/hand-right.svg" alt="Правая Рука" class="slider__image-hand slider__image-hand_right"/>
    <img src="./images/slider/star-xl.svg" alt="Большая Звезда" class="slider__image-star slider__image-star_xl slider__image-star_xl-right"/>
    <img src="./images/slider/star-lg.svg" alt="Большая Звезда" class="slider__image-star slider__image-star_lg slider__image-star_lg-right"/>
    <img src="./images/slider/star-md.svg" alt="Средняя Звезда" class="slider__image-star slider__image-star_md slider__image-star_md-right"/>
    <img src="./images/slider/star-sm.svg" alt="Маленькая Звезда" class="slider__image-star slider__image-star_sm slider__image-star_sm-right"/>
    <img src="./images/slider/star-xs.svg" alt="Маленькая Звезда" class="slider__image-star slider__image-star_xs slider__image-star_xs-right"/>
</div>
