.footer {
  @include flex-container(row, center);
  width: 100%;
  height: 100%;
  margin-top: 100px;
  flex: 0 0 33%;


  &__container {
    & .box {
      //border-top: 2px solid $goldColor;
      border-right: 2px solid $goldColor;

      &:last-child {
        border-right: none;
      }

      @media only screen and (max-width: 768px) {
        border-right: none;
        &::after {
          content: "";
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          border-top: 2px solid transparent;
          border-image: linear-gradient(0.25turn, rgba(2, 0, 36, 0) 0%, rgba(215, 190, 138, 1) 30%, rgba(215, 190, 138, 1) 70%, rgba(2, 0, 36, 0) 100%);
          border-image-slice: 1;
        }
      }
    }

    @include flex-container(row, space-between, start);
    max-width: calc($maxWidth);
    width: 100%;
  }

  &__logo-link {
    @include flex-container(column);
    row-gap: 10px;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 31.2px */
    letter-spacing: -0.78px;
    align-items: flex-start;

  }
}

@media only screen and (max-width: 768px) {
  .footer {
    &__container {
      @include flex-container(column);
    }
  }
}
