<button type="button" aria-label="More About" class="{{ className }} button"
        data-aos="zoom-in"
        data-aos-delay="200"
        data-aos-easing="ease-in-sine">
    <span class="button__text">{{ text }}</span>
    <i class="icons icons_arrow-link button__icon"></i>
</button>
