<a href="{{ link }}" aria-label="{{ text }}" class="{{ className }} link-button"
   data-aos="zoom-in"
   data-aos-delay="200"
   data-aos-easing="ease-in-sine">
    <p class="link-button__text">{{ text }}</p>
    <i class="icons icons_arrow-link link-button__icon"></i>
</a>
