.check-box {
  display: flex;


  &__input[type="checkbox"] {
    display: flex;
    flex-shrink: 0;
    position: relative;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: 2px solid $goldColor;
    margin-right: 8px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;

    &:checked {

      &::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: $goldColor;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__label {
    display: flex;
    cursor: pointer;
  }

  &__text {
    margin: 0;
  }


}

